body { background: #7231ef; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 15px; display: flex; }
.block-cart-0 { color: #2c5335; font-size: 15px; margin-bottom: 5px; }
.block-cart-1 { color: #24ffdc; font-size: 20px; margin-bottom: 5px; }
.block-router-2 { color: #ac0dcd; font-size: 17px; margin-bottom: 5px; }
.block-helper-3 { color: #b73ac4; font-size: 13px; margin-bottom: 5px; }
.block-invoice-4 { color: #9fb135; font-size: 21px; margin-bottom: 5px; }
.block-helper-5 { color: #ff5d9c; font-size: 13px; margin-bottom: 5px; }